@import url("//cdn.web-fonts.ge/fonts/bpg-le-studio-04-caps/css/bpg-le-studio-04-caps.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header,
.images,
.controls,
footer {
  background-color: #0a22f4;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin-top: 15px;
  margin-right: 200px;
}
header ul {
  list-style: none;
}
header a {
  text-decoration: none;
  color: antiquewhite;
}
.logo {
  height: 55px;
  width: auto;
  margin-left: 40px;
}
nav .kontaqti {
  background: white;
  color: black;
  padding: 8px 16px;
  border-radius: 2px;
  font-weight: 700;
}
nav .mtavari {
  border-bottom: 3px solid white;
  padding-bottom: 5px;
}
.images {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 60px;
}
.image1 {
  height: 595px;
  width: 550px;
}
.image2 {
  width: 707px;
  height: 597px;
}
.image3 {
  width: 550px;
  height: 595px;
}
.controls {
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 20px;
}
.dots {
  display: flex;
  gap: 10px;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
}
.dotactive {
  background: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.about {
  background-color: #fff;
  padding: 80px 40px 120px;
}
.about__main {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.1fr 1.2fr;
  gap: 60px;
  align-items: start;
}
.about__text h2 {
  font-size: 28px;
  margin-bottom: 18px;
  color: #0a0a0a;
  font-weight: 800;
  font-family: "BPG LE Studio 04 Caps", sans-serif;
}
.about__text p {
  line-height: 1.4;
  color: #2b2b2b;
  margin-bottom: 18px;
  font-family: "BPG LE Studio 04 Caps", sans-serif;
}
.about__link {
  color: #0a22f4;
  text-decoration: underline;
  font-weight: 500;
}
.about__image {
  width: 707px;
  height: 707px;
}
.about__image img {
  width: 100%;
  height: auto;
  display: block;
  border: 8px solid #0a22f4;
  border-top: none;
  border-left: none;
  background: #fff;
  border-radius: 15px;
}
.services {
  padding: 60px 20px;
}
.services__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 40px;
  margin-left: 80px;
}
.service__cards {
  display: flex;
  gap: 25px;
  padding-bottom: 20px;
  margin: 80px;
  margin-top: 40px;
}
.service__card p {
  font-size: 16px;
  line-height: 1.2;
  font-family: "ArchyEDT-Bold", sans-serif;
}
.icon {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  background: gray;
  margin-bottom: 20px;
}
.icon__blue {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  background: #0a22f4;
  margin-bottom: 20px;
}
